{% extends "base.html" %}
{% block content %}

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <a href="{{ url_for('simple_pages.show', page="page1")}}">
      <img src="static/images/github_logo.png"  class="d-block w-100" alt="Github Logo">
        </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Github</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
         <a href="{{ url_for('simple_pages.show', page="page2")}}">
      <img src="static/images/docker_logo.png" class="d-block w-100" alt="Docker Logo">
         </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Dockerhub</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
    <a href="{{ url_for('simple_pages.show', page="page3")}}">
      <img src="static/images/flask_logo.png" class="d-block w-100" alt="Python/Flask Logo">
    </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Python/Flask</h5>
        <p></p>
      </div>
    </div>
      <div class="carousel-item">
      <a href="{{ url_for('simple_pages.show', page="page4")}}">
      <img src="static/images/ci_cd.png" class="d-block w-100" alt="CI/CD graphic">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Continuous Development/Continuous Integration</h5>
        <p></p>

      </div>
    </div>
  </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}