{% extends "base.html" %}
{% block content %}
    <head>
    <title>CI/CD</title>
        </head>
    <h1>Continuous Integration/Continuous Deployment</h1>
    <h2>Continuous Integration</h2>
    <p>Developers practicing continuous integration merge their changes back to the main branch as often as possible. The developer's changes are validated by creating a build and running automated tests against the build. By doing so, you avoid integration challenges that can happen when waiting for release day to merge changes into the release branch.</p>
    <p>Continuous integration puts a great emphasis on testing automation to check that the application is not broken whenever new commits are integrated into the main branch.</p>
    <h3>Continuous Deployment</h3>
    <p>Continuous deployment goes one step further than continuous delivery. With this practice, every change that passes all stages of your production pipeline is released to your customers. There's no human intervention, and only a failed test will prevent a new change to be deployed to production.</p>
   
{% endblock %}