{% extends "base.html" %}
{% block content %}
    <head>
    <title>Git</title>
        </head>
    <h1>What are the major features of Git?</h1>
    <h2>Branches</h2>
    <p>Branches are a great way to manage a project that multiple people are working on at the same time.  Each branch can be a different version of the same project, with each person having the ability to work on features and then only merge back to the main branch when everything is working.   </p>
    <h2>Merge</h2>
    <p>On Github, merging a branch essentially means taking the current version of the project and updating it to reflect the features and code that you have been implementing.  To merge a pull request, use the gh pr merge subcommand. Replace pull-request with the number, URL, or head branch of the pull request.  Alternatively, you can use flags to skip the interactive prompts. For example, this command will squash the commits into a single commit with the commit message "my squash commit", merge the squashed commit into the base branch, and then delete the local and remote branch.

gh pr merge 523 --squash --body "my squash commit" --delete-branch

gh pr merge pull-request </p>
    <h2>Commit</h2>
    <p>Committing is the way that you add any changes you have made in your coding environment to the official history of the project.  git commit creates a commit, which is like a snapshot of your repository. These commits are snapshots of your entire repository at specific times. You should make new commits often, based around logical units of change. Over time, commits should tell a story of the history of your repository and how it came to be the way that it currently is. Commits include lots of metadata in addition to the contents and message, like the author, timestamp, and more.</p>
    <h2>Tags</h2>
    <p>You can use a tag to mark an individual point in your repository's history, including a version number for a release. They are typically version names, such as Ver 1.0, 1.5, 2.5, etc., and make it easy to organize and look up the history of the project.</p>
    <h2>Repositories</h2>
    <p>Contains the entire history of the project. All the branches are stored to the repository. This includes past versions of the program that may now be considered legacy code.  </p>
{% endblock %}