{% extends "base.html" %}
{% block content %}
    <head>
    <title>Python/Flask</title>
        </head>
    <h1>Python/Flask</h1>
    <h2>Testing with Python/Flask</h2>
    <p>Pytest is a simple tool that can be used for different types of testing on the code that is to be deployed.  For example, a test can be set up to verify that the home page loads by asking if an element is present.  Pytest is then further integrated into the workflow through github in the workflows folder.  Github actions lets a developer use their tests to control which versions can be merged with the main branch of the project.  </p>
    <h2>Creating Simple Pages</h2>
    <p>The web pages were created using a base.html that contained the navbar and the copyright information. This was placed in static/templates folder because it is often called upon and the position cannot move. The simple pages folder then had a templates folder created inside with a .html file for each web page needed. The previously made base was then extended and the required text was filled in individually on the page. A style.css was then created in the static folder to better accommodate the HTML.</p>
<h2>Github Repo</h2>
    <a href="https://github.com/jvick91/docker_flask">My Github</a>
    <h2>Flask Blueprint</h2>
    <a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/">Click here!</a>
    <h2>Flask testing with Pytest</h2>
    <a href="https://flask.palletsprojects.com/en/2.0.x/testing/">Click here!</a>
    <h2>Flask home</h2>
    <a href="https://flask.palletsprojects.com/en/2.0.x/">Click here!</a>

{% endblock %}